# Khedra Configuration File
# Version: 2.0

general:
  data_dir: "~/.khedra/data"
  log_level: "info"           # Options: debug, info, warn, error

chains:
  - name: "mainnet"
    rpcs:
      - "<replace-with-mainnet-rpc>"
    enabled: true

  - name: "sepolia"
    rpcs:
      - "<replace-with-sepolia-rpc>"
    enabled: true

  - name: "gnosis"
    rpcs:
      - "<replace-with-gnosis-rpc>"
    enabled: false

  - name: "optimism"
    rpcs:
      - "<replace-with-optimism-rpc>"
    enabled: false

services:
  - name: "api"
    enabled: true
    port: 8080

  - name: "scraper"
    enabled: true
    sleep: 60 # In seconds
    batch_size: 500

  - name: "monitor"
    enabled: true
    sleep: 60 # In seconds
    batch_size: 500

  - name: "ipfs"
    enabled: true
    port: 5001

logging:
  folder: "~/.khedra/logs"
  filename: "khedra.log"
  max_size_mb: 10
  max_backups: 5
  max_age_days: 30
  compress: true
